<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		
<style type="text/css">
.contenttd{
	font-size:25px;
	text-align:left;
	height:30px;
}
</style>
</head>
  <body>
	<div class="contenttd">${msg}</div>	
  </body>
</html>